.nested-fields
	.field.field-inline
		= f.label :abbrev, "Abbreviation:"
		= f.text_field :abbrev
	.field.field-inline
		= f.label :name, "Name:"
		= f.text_field :name
	.field
		= f.label :anchor, "Start year:"
		= f.number_field :anchor
	.field
		= f.label :direction, "Direction:"
		= f.number_field :direction
	= link_to_remove_association "remove era", f