.table-fields
	.field.field-inline
		= f.number_field :number
	.field.field-inline
		= f.label :abbrev, "Abbreviation:"
		= f.text_field :abbrev
	.field.field-inline
		= f.label :name, "Name:"
		= f.text_field :name
	.field
		= f.label :anchor, "Start year:"
		= f.number_field :anchor
	.field
		= f.check_box :direction
		= f.label :direction, "Years follow chronological order"
	= link_to_remove_association "remove era", f