.form-container.accordion-container
	= form_for @calendar, data: {remote: true}, html: {class: "form-sections-container"} do |f|
		.form-accordion-step
			%input{type: "checkbox", id: "accordion-checkbox-1", name: "accordion-checkbox", class: "accordion-checkbox", checked: "checked"}
			%label{for: "accordion-checkbox-1", class: "accordion-label"} Calendar details
			.form-accordion-step-content
				.form-fieldset
					- # = f.label :abbrev
					- # = f.text_field :abbrev
					.field.field-block
						= f.label :name, "Name:"
						= f.text_field :name
					.field
						= f.check_box :leap
						= f.label :leap, "Calendar has leap years"
					.field.disabled-field
						- # add a JQuery or even inline JS to enable only if 'leap' checkbox is ticked
						= f.label :leap_year_num, "Leap year interval:"
						= f.number_field :leap_year_num, disabled: true
					.button-container 
						%button{type: "button", class: "option-button next-step-button"}
							Next
		.form-accordion-step
			%input{type: "checkbox", id: "accordion-checkbox-2", name: "accordion-checkbox", class: "accordion-checkbox"}
			%label{for: "accordion-checkbox-2", class: "accordion-label"} Eras
			.form-accordion-step-content
				.form-fieldset
					#eras
						= f.fields_for :eras do |era|
							= render 'era_fields', f: era
						.links
							= link_to_add_association 'add era', f, :eras
					%br
					.button-container
						%button{type: "button", class: "option-button back-step-button"}
							Back
						%button{type: "button", class: "option-button next-step-button"}
							Next
		.form-accordion-step
			%input{type: "checkbox", id: "accordion-checkbox-3", name: "accordion-checkbox", class: "accordion-checkbox"}
			%label{for: "accordion-checkbox-3", class: "accordion-label"} Months
			.form-accordion-step-content
				.form-fieldset
					.simple-months{class: ("hidden" unless @calendar.new_record?)}
						.field.field-block
							= f.label :months_in_year, "Number of months:"
							= f.number_field :months_in_year
						.field.field-block
							= f.label :days_in_month, "Number of days in a standard month:"
							= f.number_field :days_in_month
						%button{type: "button", class: "option-button", id:"populate-month-button"}
							- # on click, gets number of months + number of days and switches to the hidden months below
							Populate
					#months{class: ("hidden" if @calendar.new_record?)}
						.months-heading
							%ul.level-1
								%li Name
								%li Number of days
							%ul.level-2
								%li Standard
								%li Leap
						.sortable-container
							= f.fields_for :months do |month|
								= render 'month_fields', f: month, class: "sortable-container"
							.links
								= link_to_add_association "image_tag('add_month.png')", f, :months, class: "add-month-link"
							%button{type: "button", class: ["option-button", ("hidden" unless @calendar.new_record?)], id: "reset-month-button"}
								- # give warning that this will delete months
								Reset
					.button-container
						%button{type: "button", class: "option-button back-step-button"}
							Back
						%button{type: "button", class: "option-button next-step-button"}
							Next
		.form-accordion-step
			%input{type: "checkbox", id: "accordion-checkbox-4", name: "accordion-checkbox", class: "accordion-checkbox"}
			%label{for: "accordion-checkbox-4", class: "accordion-label"} Weekdays
			.form-accordion-step-content
				.form-fieldset
					.field
						= f.label :week_length, "Number of days in a week:"
						= f.number_field :week_length
					.field
						= f.label :days_in_week, "Names of days in the week:"
						= text_field_tag "calendar[days_in_week][]"
						-# button to add another text_field_tag "calendar[days_in_week][]"
					.field
						= f.label :hours_in_day, "Number of hours in a day:"
						= f.number_field :hours_in_day
					.button-container
						%button{type: "button", class: "option-button back-step-button"}
							Back
		= f.submit