.form-container
	%input{type: "radio", id: "tab-radio-1", name: "tab-radio", class: "tab-radio", checked: "checked"}
	%input{type: "radio", id: "tab-radio-2", name: "tab-radio", class: "tab-radio"}
	%input{type: "radio", id: "tab-radio-3", name: "tab-radio", class: "tab-radio"}
	%input{type: "radio", id: "tab-radio-4", name: "tab-radio", class: "tab-radio"}

	.form-progress-bar
		.form-tabs-container
			%label{for: "tab-radio-1", class: "form-tab form-tab-1"} 1
			%label{for: "tab-radio-2", class: "form-tab form-tab-2"} 2
			%label{for: "tab-radio-3", class: "form-tab form-tab-3"} 3
			%label{for: "tab-radio-4", class: "form-tab form-tab-4"} 4
		.tab-labels-container
			.tab-label Summary
			.tab-label Eras
			.tab-label Months
			.tab-label Weekdays


	= form_for @calendar, data: {remote: true}, html: {class: "form-sections-container"} do |f|
		.form-col-1
			%fieldset.form-step.form-step-1
				%h3 New calendar
				- # = f.label :abbrev
				- # = f.text_field :abbrev
				.field.field-block
					= f.label :name, "Name:"
					= f.text_field :name
				.field.field-inline
					= f.label :leap, "Leap:"
					= f.check_box :leap
				.field.field-inline.disabled-field
					- # add a JQuery or even inline JS to enable only if 'leap' checkbox is ticked
					= f.label :leap_year_num, "Leap year interval:"
					= f.number_field :leap_year_num
				.button-container 
					%button{type: "button", class: "option-button next-step-button"}
						Next
			%fieldset.form-step.form-step-2
				- # section era: make two cocoon by default
				%h3 Eras
				#eras
					= f.fields_for :eras do |era|
						= render 'era_fields', f: era
					.links
						= link_to_add_association 'add era', f, :eras
				%br
				.button-container
					%button{type: "button", class: "option-button back-step-button"}
						Back
					%button{type: "button", class: "option-button next-step-button"}
						Next
			%fieldset.form-step.form-step-3
				- # section month: consider two tabs, simple/advanced
				%h3 Months
				.simple-months
					.field.field-inline
						= f.label :months_in_year, "Number of months:"
						= f.number_field :months_in_year
					.field.field-inline
						= f.label :days_in_month, "Number of days in a months:"
						= f.number_field :days_in_month
					%button{type: "button", class: "option-button", id:"populate-month-button"}
						- # on click, gets number of months + number of days and switches to the hidden months below
						Populate
				#months.hidden
					.sortable-container
						= f.fields_for :months do |month|
							= render 'month_fields', f: month, class: "sortable-container"
						.links
							= link_to_add_association 'add month', f, :months, class: "add-month-link"
						%button{type: "button", class: "option-button", id: "reset-month-button"}
							- # give warning that this will delete months
							Reset
				.button-container
					%button{type: "button", class: "option-button back-step-button"}
						Back
					%button{type: "button", class: "option-button next-step-button"}
						Next
			%fieldset.form-step.form-step-4
				- # section days and weeks
				%h3 Weekdays
				.field
					= f.label :week_length, "Number of days in a week:"
					= f.number_field :week_length
				.field
					= f.label :days_in_week, "Names of days in the week:"
					= f.text_area :days_in_week
				.field
					= f.label :hours_in_day, "Number of hours in a day:"
					= f.number_field :hours_in_day
				.button-container
					%button{type: "button", class: "option-button back-step-button"}
						Back
					= f.submit
		.form-col-2
			This is column two